{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>

    <title>{% block titles %}{% endblock %}</title>
    <meta name="description" content="{{ SITE_SEO_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_BASE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5.js'  %}" type="text/javascript"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <link rel='stylesheet' id='twentytwelve-ie-css'  href='{% static 'css/ie.css' %}' type='text/css' media='all' />
    <![endif]-->

    <link rel='stylesheet' id='twentytwelve-style-css' href='{% static 'css/blog/style.css' %}' type='text/css' media='all'/>
    <link href="{% static 'css/blog/oauth_style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog/default.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/nprogress.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon"/>
    <style>
        canvas, body{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
    </style>
</head>

<body class="home blog custom-font-enabled">

<div id="page" class="hfeed site">

    <header id="masthead" class="site-header" role="banner">
        <hgroup>
            <h1 class="site-title"><a href="{{ SITE_BASE_URL }}" title="{{ SITE_NAME }}" rel="home">{{ SITE_NAME }}</a>
            </h1>
            <h2 class="site-description">{{ SITE_DESCRIPTION }}</h2>
        </hgroup>

        {% include 'share_layout/nav.html' %}

    </header>

    <div id="main" class="wrapper">

        {% block content %}
        {% endblock %}

        {% block sidebar %}
        {% endblock %}

    </div>

    {% include 'share_layout/footer.html' %}

</div>

</body>
<footer>
    <script>
        var baseurl = "{{ SITE_BASE_URL }}";
    </script>
    <script>
        var width, height
var step = 0;
var canvas = document.createElement('canvas')
var ctx = canvas.getContext('2d')
var bg = [35,	36,	37]

// mouse coordinates
function Mouse () {
  this.x = window.innerWidth / 2
  this.y = window.innerHeight / 2
}
var mouse = new Mouse()
document.onmousemove = function(e){ mouse.x = e.pageX; mouse.y = e.pageY}

document.getElementsByTagName('body')[0].appendChild(canvas)

window.addEventListener('resize', setup)




setup()

function setup() {
  canvas.width = width = window.innerWidth
  canvas.height = height = window.innerHeight

  fillCanvas(ctx, bg, 1)
}

window.requestAnimationFrame(animate);

function animate() {
  fillCanvas(ctx, bg, 1)
  draw()
  step++
  window.requestAnimationFrame(function(){animate()})
}


function Flwr () {
  this.follow = null
  this.child = null
  this.x = mouse.x
  this.y = mouse.y
  this.dx = 0
  this.dy = 0
  this.a = 0.35
  this.b = 0.54
  this.n = 0
}


var flwr, flwrPrev, train = [], i, n = 50;
for (i = 0; i < n; i++) {
  flwr = new Flwr()
  flwr.n = i
  if (flwrPrev) {
    flwr.b = flwrPrev.b + (0.1/n)
    flwr.follow = flwrPrev
    flwrPrev.child = flwr
  } else {
    flwr.follow = mouse
  }
  flwrPrev = flwr
  train.push(flwr)
}

function draw () {
  // update flwrs
  // console.log(train)

  for (i in train){
    // update position
    flwr = train[i]
    var dx = flwr.follow.x - flwr.x
    var dy = flwr.follow.y - flwr.y

    flwr.dx = flwr.dx * flwr.a + dx * (1 - flwr.a)
    flwr.dy = flwr.dy * flwr.a + dy * (1 - flwr.a)

    flwr.x = flwr.dx * flwr.b + flwr.x
    flwr.y = flwr.dy * flwr.b + flwr.y

    // draw
    // ctx.beginPath();
    // drawCircle(ctx, flwr.x, flwr.y, 2)
    // ctx.fillStyle = '#FFF547'
    // ctx.fill()

    if (flwr.follow !== mouse) {
      ctx.beginPath();
      ctx.strokeStyle = '#00fcff'
      ctx.lineCap = 'round'
      ctx.lineWidth = (n-flwr.n)/n * 8 + 2
      ctx.moveTo(flwr.x,flwr.y);
      ctx.lineTo(flwr.follow.x,flwr.follow.y);
      ctx.stroke();
    }
  }

}

function drawCircle (context, x, y, r) {
  context.arc(x ,y , r, 0, 2*Math.PI);
}

function fillCanvas (context, color, alpha) {
  context.rect(0, 0, this.width, this.height)
  context.fillStyle = `rgba(${color[0]}, ${color[1]}, ${color[2]}, ${alpha})`
  context.fill()
}
    </script>
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nprogress.js' %}"></script>
    <script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
    <script src="{% static 'js/blog/blog.js' %}" type="application/javascript"></script>
{#    <script src="{% static 'blog/js/navigation.js' %}" type="application/javascript"></script>#}
</footer>
</html>