<footer id="colophon" role="contentinfo">
    <div class="site-info" style="text-align: center">
        Copyright&copy;&nbsp;2017&nbsp;
        <a href="{{ SITE_BASE_URL }}" target="blank">{{ SITE_NAME }}</a>
        |&nbsp;
        <a href="https://tongji.baidu.com/sc-web/3478620/home/ico?siteId=11261596" target="_blank"
           rel="nofollow">百度统计</a>
    </div>

    <div class="site-info" style="text-align: center">
        Powered by
        <a href="https://www.djangoproject.com/" rel="nofollow" target="blank">Django</a>
        &nbsp;|&nbsp;
        <a href="https://github.com/1638824607/django_web" rel="nofollow" target="blank">django_web</a>
        |
        <a href="" target="blank">shen</a>
        |
        <span>本页面加载耗时:<span class="load-time"></span>s</span>
    </div>

    {% if BEIAN_CODE %}
        <div class="site-info" style="text-align: center">
            <a href="http://www.miitbeian.gov.cn/" rel="nofollow" target="_blank">
                <p style=" height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                    {{ BEIAN_CODE }}
                </p>
            </a>
        </div>
    {% endif %}

</footer>